<!-- breadcrumbs -->
		<div class="breadcrumbs">
			<div class="container">
				<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
					<li><a href="/home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
					<li class="active">About Page</li>
				</ol>
			</div>
		</div>
	<!-- //breadcrumbs -->
<div class="container">
	<div class="row row-about">
		
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img src="images/thiem.jpg" class="img-responsive img-about">
			<div class="info">
				<h3>Huỳnh Thị Thiêm</h3>
				<p>Developer</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img src="images/vi.jpg" class="img-responsive img-about">
			<div class="info">
				<h3>Cao Hùng Vĩ</h3>
				<p>Developer</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img src="images/truong.jpg" class="img-responsive img-about">
			<div class="info">
				<h3>Ðinh Thanh Trường</h3>
				<p>Developer</p>
			</div>
		</div>
	</div>
</div>