 
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1>Forget Password</h1>
    </div>
    <div class="col-sm-12">
    <div ng-show = "error" class = "alert alert-danger row">
      <span>{{error.message}}</span>
    </div>
      <form class="form" name="form" ng-submit="forgetpass()" novalidate>
        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="email"
                 required
                 ></input>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ errors.email }}
          </p>
        </div>

         

        <div class = "text-center">
          <button class="btn btn-primary" style = "display:inline-block !important; margin-right: 50px" type="submit">
            Send Email
          </button>
          <a class="btn btn-primary" style = "display:inline-block !important;"  href="#/login">
            Login
          </a>
        </div>

        <hr>
        
        
    </div>

      </form>
    </div>
  </div>
 
 