<div class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
			<li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
			<li class="active">Rule Page</li>
		</ol>
	</div>
</div>
<div class="container"> 
                <div id="pane-main">                                  
                    <div id="help-content" class="bbCode">
                        <div id="news-content">
						<div id="news-title">Phí kí gửi hàng đấu giá</div>
						<div id="news-info">Ngày: 21/08/2015</div>
						<div id="news-content">Hi các bạn @5giay<br />
						<br />
						- Online Auctions hiện nay đã nhận kí gửi hàng hóa đấu giá của member với các mức phí thỏa thuận <br />
						- Online Auctions sẽ chia làm 2 mặt hàng new và đã sử dụng<br />
						- Hiện nay đang nhận kí gửi các mặt hàng mới 100% để đảm bảo yếu tố an tâm cho thành viên bid mà không lo lắng về tình trạng món hàng.<br />
						- Còn về mặt hàng 2nd thì sẽ có đấu giá riêng biệt trong 1 danh mục,khi Online Auctions đã chuận bị đầy đủ về website và giám định cùng những hình ảnh trung thực để member có thể nhận xét được món hàng như cầm thấy trước mặt để có cơ sở mà BID.<br />
						<br /><span class="bbCodeBold" style="font-weight: bold;">
						- Về mặt chi phí thì Online Auctions sẽ tính theo tỉ lệ % như sau :<br />
						<br />Nếu món hàng đó winner thắng với giá &lt;= 200k thì Online Auctions sẽ tính phí là 20k.<br />
						Nếu món hàng đó winner thắng với giá &lt;=2.000k thì Online Auctions sẽ nhận 10% giá winner<br />
						Nếu món hàng đó winner thắng với giá &gt;2.000k và &lt;=3.000k thì Online Auctions sẽ nhận 8% giá winner<br />
						Nếu món hàng đó winner thắng với giá &gt;3.000k và &lt;=4.000k thì Online Auctions sẽ nhận 7% giá winner<br />
						Nếu món hàng đó winner thắng với giá &gt;4.000k và &lt;=5.000k thì Online Auctions sẽ nhận 6% giá winner<br />
						Nếu món hàng đó winner thắng với giá &gt;5.000k và &lt;=6.000k thì Online Auctions sẽ nhận 5% giá winner</span><br /><br />
						Ví dụ : winner thắng 1 món hàng với giá 1.800k thì Online Auctions sẽ nhận 10% của 1.800<br />
						Vậy số tiền Online Auctions nhận sẽ là : 1800 * 10% = 180k<br />
						<span class="bbCodeBold" style="font-weight: bold;">Lưu ý: Với món hàng đặt giá khởi điểm mà không có ai đấu, Online Auctions vẫn tính % trên giá khởi điểm nếu khi hết thời gian mà không có ai đấu</span><br />
						Nếu món hàng có giá trị lớn thì các bạn vui lòng gửi email về nhom7@gmail.com .<br />
						- Các bạn nếu có ý kiến đóng góp hay hỏi về kí gửi hàng hóa có thể post vào đây hay gửi mail về Online Auctions@nhatnguyet.vn nhé.<br /><br />
						Thân chào (  )</div></div>
                    </div>

                    <div id="related-news"><div class="rn-title">Tin liên quan</div>
					<div class="rn-item">
						<div class="rni-title"> · 
						<a href="#">Đăng ký tham gia đấu giá Online Auctions</a></div></div>
						<div class="rn-item"><div class="rni-title"> · <a href="#">Phí kí gửi hàng đấu giá</a></div></div>
						<div class="rn-item"><div class="rni-title"> · <a href="">Hướng dẫn "Chủ topic " quản lý hàng đấu giá</a></div></div>
						<div class="rn-item"><div class="rni-title"> · <a href="#">Quy định cho người tạo đấu giá (chủ topic)</a></div></div>
						<div class="rn-item"><div class="rni-title"> · <a href="">Bị ban nick khi không nhận hàng</a></div></div></div>
                </div>
            </div>