<div class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
			<li><a href="#/home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
			<li class="active">Rule Page</li>
		</ol>
	</div>
</div>
<div class="container">
	<div class="rule-auctions"> <a href="#/phidangki">Đăng ký tham gia đấu giá sohot</a> </div>
	<div class="rule-auctions"> <a href="#/phidangki">Phí kí gửi hàng đấu giá</a> </div>
	<div class="rule-auctions"><a href="#/phidangki">Hướng dẫn "Chủ topic " quản lý hàng đấu giá </a></div>
	<div class="rule-auctions"><a href="#/phidangki">Quy định cho người tạo đấu giá (chủ topic) </a></div>
	<div class="rule-auctions"><a href="#/phidangki">Quy định cho người tạo đấu giá (chủ topic) </a></div>
	<div class="rule-auctions"><a href="#/phidangki">Đăng ký làm Vip seller tại Sohot </a></div>
	<div class="rule-auctions"><a href="#/phidangki">Đăng ký làm Vip seller tại Sohot </a></div>
	<div class="rule-auctions"><a href="#/phidangki">iD đấu giá </a></div>

</div>